body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Plantilla de fuera */ 
.formWrapper {
    background-color: #fffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #33333;
}

/* Estilos para select e inputs de tipo date, text y password */
select, input[type="date"], input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333333;
}

/* Estilos para el enfoque (focus, clicado) de los elementos */
select:focus, input[type="date"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

#courtWrapper div {
	display: flex;
    flex-direction: column;
}

.userWrapper {
    display: flex;
    justify-content: space-between;
}

.userWrapper div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.datetimeWrapper {
    display: flex;
    justify-content: space-between;
}

.datetimeWrapper div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
}

#aceptBtn {
    background-color: #28a745;
}

#aceptBtn:hover {
    background-color: #218838;
}

#cancelBtn{
    background-color: #dc3545;
}

#cancelBtn:hover {
    background-color: #c82333;
}
