body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Plantilla de fuera */ 
.formWrapper {
    background-color: #fffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
	text-align: center;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #33333;
}

/* Estilos para select e inputs de tipo date, text y password */
select, input[type="date"], input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333333;
}

/* Estilos para el enfoque (focus, clicado) de los elementos */
select:focus, input[type="date"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

#courtWrapper div {
	display: flex;
    flex-direction: column;
}

.userWrapper {
    display: flex;
    justify-content: space-between;
}

.userWrapper div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.datetimeWrapper {
    display: flex;
    justify-content: space-between;
}

.datetimeWrapper div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.paymentWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.paymentWrapper div {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 48%;
}

.paymentOptions label {
    margin-right: 112px; 
}

.paymentOptions {
    gap: 4px;
}

.paymentOptions input {
    margin-right: 2px;
    transform: translateY(-4px);
}

.buttonWrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
}

#aceptBtn {
    background-color: #28a745;
}

#aceptBtn:hover {
    background-color: #218838;
}

#cancelBtn{
    background-color: #dc3545;
}

#cancelBtn:hover {
    background-color: #c82333;
}

/* Slider luz */
.switchWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.switchWrapper label:first-child {
    margin-right: 20px; /* Ajusta este valor para cambiar el espaciado */
  }

/* Define un contenedor relativo para el interruptor, estableciendo su tamaño y haciéndolo inline-block para alinearse con otros elementos en línea. */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 25px;
}

/* Oculta el input checkbox real, haciéndolo invisible y sin ocupar espacio en el layout. */
.switch input { 
opacity: 0;
width: 0;
height: 0;
}

/* Define la apariencia del slider (interruptor), posicionándolo absolutamente dentro de su contenedor, llenando todo el espacio disponible. Establece un color de fondo gris y agrega una transición suave de 0.4 segundos para cambios de estado. */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

/* Define la apariencia de la "bolita" del slider, posicionándola absolutamente dentro del slider, con un tamaño de 26x26 píxeles, un color de fondo blanco y transiciones suaves para los cambios de estado. */
.slider:before {
position: absolute;
content: "";
height: 23px;
width: 23px;
left: 1px;
bottom: 1px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

/* Cambia el color de fondo del slider a azul (#2196F3) cuando el input checkbox está marcado. */
input:checked + .slider {
background-color: #2196F3;
}

/* Añade un efecto de sombra azul alrededor del slider cuando el input checkbox recibe foco. */
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

/* Mueve la "bolita" del slider 26 píxeles a la derecha cuando el input checkbox está marcado, creando el efecto de deslizamiento. */
input:checked + .slider:before {
-webkit-transform: translateX(35px);
-ms-transform: translateX(35px);
transform: translateX(35px);
}

/* Redondea las esquinas del slider, haciendo que el contenedor tenga bordes redondeados (círculo) cuando se utiliza la clase "round". */
.slider.round {
border-radius: 34px;
}

/* Redondea las esquinas de la "bolita" del slider, haciéndola circular cuando se utiliza la clase "round". */
.slider.round:before {
border-radius: 50%;
}
  